body{
    margin: 0px;
    padding: 0px;
}

#bgs{
        width:400px;
        z-index:-1;
        position: absolute;
        top:-75px;
        right:-150px;
        opacity:0.30;
}

#menu-icons{
    padding: 34px;
    padding-right: 35px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

#header h1{
    margin-top: 0px;
    margin-left: 40px;
}